# DX 704 Week 2 Project

This week's project will analyze fresh strawberry price data for a hypothetical "buy low, freeze, and sell high" business.
Strawberries show strong seasonality in their prices compared to other fruits.

![](https://ers.usda.gov/sites/default/files/_laserfiche/Charts/61401/oct14_finding_plattner_fig01.png)

Image source: https://www.ers.usda.gov/amber-waves/2014/october/seasonal-fresh-fruit-price-patterns-differ-across-commodities-the-case-of-strawberries-and-apples

You are considering a business where you buy strawberries when the prices are very low, carefully freeze them, even more carefully defrost them, and then sell them when the prices are high.
You will forecast strawberry price time series and then use them to tactically pick times to buy, freeze, and sell the strawberries.

The full project description, a template notebook, and raw data are available on GitHub at the following link.

https://github.com/bu-cds-dx704/dx704-project-02

### Example Code

You may find it helpful to refer to these GitHub repositories of Jupyter notebooks for example code.

* https://github.com/bu-cds-omds/dx601-examples
* https://github.com/bu-cds-omds/dx602-examples
* https://github.com/bu-cds-omds/dx603-examples
* https://github.com/bu-cds-omds/dx704-examples

Any calculations demonstrated in code examples or videos may be found in these notebooks, and you are allowed to copy this example code in your homework answers.

In [ ]:
import pandas as pd
import numpy as np
from prophet import Prophet

## Part 1: Backtest Strawberry Prices

Read the provided "strawberry-prices.tsv" with data from 2020 through 2024.
This data is based on data from the U.S. Bureau of Statistics, but transformed so the ground truth is not online.
https://fred.stlouisfed.org/series/APU0000711415

Use the data for 2020 through 2023 to predict monthly prices in 2024.
Spend some time to make sure you are happy with your methodology and prediction accuracy, since you will reuse the methodology to forecast 2025 next.
Save the 2024 backtest predictions as "strawberry-backtest.tsv" with columns month and price.

In [52]:
# YOUR CHANGES HERE

prices = pd.read_csv('strawberry-prices.tsv', sep='\t')

train = prices[0:48]
test = prices[48:]
train = train.rename(mapper={'month':'ds', 'price':'y'}, axis=1)

prices_model = Prophet()
prices_model.fit(train)

prices_future = prices_model.make_future_dataframe(periods=12, freq='MS')
future_2024 = prices_future[prices_future['ds'].dt.year == 2024]
prices_forecast = prices_model.predict(future_2024)
strawberry_backtest = prices_forecast[['ds', 'yhat']].tail(12)
strawberry_backtest = strawberry_backtest.rename(columns={'ds': 'month', 'yhat':'price'})

06:44:28 - cmdstanpy - INFO - Chain [1] start processing

06:44:28 - cmdstanpy - INFO - Chain [1] done processing

In [53]:
strawberry_backtest.to_csv('strawberry-backtest.tsv', sep='\t')

Submit "strawberry-backtest.tsv" in Gradescope.

## Part 2: Backtest Errors

What are the mean and standard deviation of the residuals between your backtest predictions and the ground truth? (If your mean is not close to zero, then you may be missing a long term trend.)

Write the mean and standard deviation to a file "backtest-accuracy.tsv" with two columns, mean and std.

In [54]:
# YOUR CHANGES HERE

import statistics

test = test.reset_index(drop=True)

residuals = test['price'] - strawberry_backtest['price']
mean = np.mean(residuals)
std = statistics.stdev(residuals)
print(f'Mean: {mean}')
print(f'STD: {std}')

Mean: -0.03477350807363696
STD: 0.274374327235493

In [55]:
backtest_accuracy = {'mean': mean, 'std': std}
backtest_accuracy = pd.DataFrame(backtest_accuracy, index=[0])
backtest_accuracy.to_csv('backtest-accuracy.tsv', sep='\t')

Submit "backtest-accuracy.tsv" in Gradescope.

## Part 3: Forecast Strawberry Prices

Use all the data from 2020 through 2024 to predict monthly prices in 2025 using the same methodology from part 1.
Make a monthly forecast for each month of 2025 and save it as "strawberry-forecast.tsv" with columns for month and price.

In [63]:
# YOUR CHANGES HERE

prices = prices.rename(mapper={'month':'ds', 'price':'y'}, axis=1)

model = Prophet()
model.fit(prices)

model_future = model.make_future_dataframe(periods=12, freq='MS')
future_2025 = model_future[model_future['ds'].dt.year == 2025]
model_forecast = model.predict(future_2025)
strawberry_forecast = model_forecast[['ds', 'yhat']].tail(12)
strawberry_forecast = strawberry_forecast.rename(columns={'ds': 'month', 'yhat':'price'})
strawberry_forecast

06:47:32 - cmdstanpy - INFO - Chain [1] start processing

06:47:32 - cmdstanpy - INFO - Chain [1] done processing

        month     price
0  2025-01-01  4.227590
1  2025-02-01  4.139785
2  2025-03-01  3.625474
3  2025-04-01  3.621645
4  2025-05-01  3.334506
5  2025-06-01  3.056036
6  2025-07-01  3.009510
7  2025-08-01  3.263252
8  2025-09-01  3.399879
9  2025-10-01  3.662965
10 2025-11-01  4.154703
11 2025-12-01  4.523599

In [57]:
strawberry_forecast.to_csv('strawberry-forecast.tsv', sep='\t')

Submit "strawberry-forecast.tsv" in Gradescope.

## Part 4: Buy Low, Freeze and Sell High

Using your 2025 forecast, analyze the profit picking different pairs of months to buy and sell strawberries.
Maximize your profit assuming that it costs &dollar;0.20 per pint to freeze the strawberries, &dollar;0.10 per pint per month to store the frozen strawberries and there is a 10% price discount from selling previously frozen strawberries.
So, if you buy a pint of strawberies for &dollar;1, freeze them, and sell them for &dollar;2 three months after buying them, then the profit is &dollar;2 * 0.9 - &dollar;1 - &dollar;0.20 - &dollar;0.10 * 3 = &dollar;0.30 per pint.
To evaluate a given pair of months, assume that you can invest &dollar;1,000,000 to cover all costs, and that you buy as many pints of strawberries as possible.

Write the results of your analysis to a file "timings.tsv" with columns for the buy_month, sell_month, pints_purchased, and expected_profit.

In [72]:
# YOUR CHANGES HERE

pairs = []
for i, buy_row in strawberry_forecast.iterrows():
    for j, sell_row in strawberry_forecast.iterrows():
        if j > i:
            months = j - i
            per_pint = (sell_row.price * 0.9) - buy_row.price - 0.20 - (0.10 * months)
            pints = int(1_000_000 // buy_row.price)
            pairs.append([buy_row.month, sell_row.month, pints, pints*per_pint])

pairs_df = pd.DataFrame(pairs, columns=['buy_month', 'sell_month', 'pints_purchased', 'expected_profit'])
pd.set_option('display.max_rows', None)
pairs_df

    buy_month sell_month  pints_purchased  expected_profit
0  2025-01-01 2025-02-01           236541   -189654.538921
1  2025-01-01 2025-03-01           236541   -322798.744760
2  2025-01-01 2025-04-01           236541   -347268.071306
3  2025-01-01 2025-05-01           236541   -432050.176875
4  2025-01-01 2025-06-01           236541   -514986.971325
5  2025-01-01 2025-07-01           236541   -548545.756160
6  2025-01-01 2025-08-01           236541   -518181.592126
7  2025-01-01 2025-09-01           236541   -512749.542080
8  2025-01-01 2025-10-01           236541   -480396.080618
9  2025-01-01 2025-11-01           236541   -399365.649982
10 2025-01-01 2025-12-01           236541   -344486.635329
11 2025-02-01 2025-03-01           241558   -284279.598464
12 2025-02-01 2025-04-01           241558   -309267.915845
13 2025-02-01 2025-05-01           241558   -395848.237468
14 2025-02-01 2025-06-01           241558   -480544.109193
15 2025-02-01 2025-07-01           241558   -514814.670945
16 2025-02-01 2025-08-01           241558   -483806.487434
17 2025-02-01 2025-09-01           241558   -478259.224402
18 2025-02-01 2025-10-01           241558   -445219.550756
19 2025-02-01 2025-11-01           241558   -362470.476542
20 2025-02-01 2025-12-01           241558   -306427.486018
21 2025-03-01 2025-04-01           275825   -183697.755097
22 2025-03-01 2025-05-01           275825   -282560.211368
23 2025-03-01 2025-06-01           275825   -379270.892937
24 2025-03-01 2025-07-01           275825   -418403.017293
25 2025-03-01 2025-08-01           275825   -382996.066511
26 2025-03-01 2025-09-01           275825   -376661.878342
27 2025-03-01 2025-10-01           275825   -338935.253749
28 2025-03-01 2025-11-01           275825   -244447.539018
29 2025-03-01 2025-12-01           275825   -180454.386809
30 2025-04-01 2025-05-01           276117   -254190.282414
31 2025-04-01 2025-06-01           276117   -351003.345998
32 2025-04-01 2025-07-01           276117   -390176.897274
33 2025-04-01 2025-08-01           276117   -354732.463198
34 2025-04-01 2025-09-01           276117   -348391.569389
35 2025-04-01 2025-10-01           276117   -310625.005797
36 2025-04-01 2025-11-01           276117   -216037.262379
37 2025-04-01 2025-12-01           276117   -151976.364315
38 2025-05-01 2025-06-01           299894   -265128.476766
39 2025-05-01 2025-07-01           299894   -307675.342719
40 2025-05-01 2025-08-01           299894   -269178.715880
41 2025-05-01 2025-09-01           299894   -262291.794728
42 2025-05-01 2025-10-01           299894   -221273.075048
43 2025-05-01 2025-11-01           299894   -118540.187451
44 2025-05-01 2025-12-01           299894    -48962.874341
45 2025-06-01 2025-07-01           327221   -211867.941836
46 2025-06-01 2025-08-01           327221   -169863.417801
47 2025-06-01 2025-09-01           327221   -162348.945267
48 2025-06-01 2025-10-01           327221   -117592.509751
49 2025-06-01 2025-11-01           327221     -5498.375783
50 2025-06-01 2025-12-01           327221     70418.974926
51 2025-07-01 2025-08-01           332279   -123801.701319
52 2025-07-01 2025-09-01           332279   -116171.074253
53 2025-07-01 2025-10-01           332279    -70722.818681
54 2025-07-01 2025-11-01           332279     43104.003990
55 2025-07-01 2025-12-01           332279    120194.842830
56 2025-08-01 2025-09-01           306442   -154250.851812
57 2025-08-01 2025-10-01           306442   -112336.513759
58 2025-08-01 2025-11-01           306442     -7360.517103
59 2025-08-01 2025-12-01           306442     63735.973604
60 2025-09-01 2025-10-01           294128   -118595.504729
61 2025-09-01 2025-11-01           294128    -17837.841144
62 2025-09-01 2025-12-01           294128     50401.723337
63 2025-10-01 2025-11-01           273002    -61079.424888
64 2025-10-01 2025-12-01           273002      2258.773388
65 2025-11-01 2025-12-01           240691    -92296.319401

In [73]:
pairs_df.to_csv('timings.tsv', sep='\t', index=False)

Submit "timings.tsv" in Gradescope.

## Part 5: Strategy Check

What is the best profit scenario according to your previous timing analysis?
How much does that profit change if the sell price is off by one standard deviation from your backtest analysis?
(Variation in the sell price is more dangerous because you can see the buy price before fully committing.)

Write the results to a file "check.tsv" with columns best_profit and one_std_profit.

In [67]:
# YOUR CHANGES HERE

pairs_df.sort_values(by=['expected_profit'])

    buy_month sell_month  pints_purchased  expected_profit
5  2025-01-01 2025-07-01       28757524.0    -6.668957e+07
6  2025-01-01 2025-08-01       28757524.0    -6.299804e+07
4  2025-01-01 2025-06-01       28757524.0    -6.260965e+07
7  2025-01-01 2025-09-01       28757524.0    -6.233764e+07
15 2025-02-01 2025-07-01       28757524.0    -6.128878e+07
8  2025-01-01 2025-10-01       28757524.0    -5.840426e+07
16 2025-02-01 2025-08-01       28757524.0    -5.759725e+07
14 2025-02-01 2025-06-01       28757524.0    -5.720886e+07
17 2025-02-01 2025-09-01       28757524.0    -5.693685e+07
18 2025-02-01 2025-10-01       28757524.0    -5.300347e+07
3  2025-01-01 2025-05-01       28757524.0    -5.252660e+07
9  2025-01-01 2025-11-01       28757524.0    -4.855297e+07
13 2025-02-01 2025-05-01       28757524.0    -4.712580e+07
24 2025-03-01 2025-07-01       28757524.0    -4.362271e+07
19 2025-02-01 2025-11-01       28757524.0    -4.315218e+07
2  2025-01-01 2025-04-01       28757524.0    -4.221919e+07
10 2025-01-01 2025-12-01       28757524.0    -4.188104e+07
32 2025-04-01 2025-07-01       28757524.0    -4.063684e+07
25 2025-03-01 2025-08-01       28757524.0    -3.993118e+07
23 2025-03-01 2025-06-01       28757524.0    -3.954280e+07
26 2025-03-01 2025-09-01       28757524.0    -3.927078e+07
1  2025-01-01 2025-03-01       28757524.0    -3.924433e+07
33 2025-04-01 2025-08-01       28757524.0    -3.694531e+07
12 2025-02-01 2025-04-01       28757524.0    -3.681840e+07
31 2025-04-01 2025-06-01       28757524.0    -3.655692e+07
20 2025-02-01 2025-12-01       28757524.0    -3.648025e+07
34 2025-04-01 2025-09-01       28757524.0    -3.628490e+07
27 2025-03-01 2025-10-01       28757524.0    -3.533740e+07
11 2025-02-01 2025-03-01       28757524.0    -3.384354e+07
35 2025-04-01 2025-10-01       28757524.0    -3.235153e+07
39 2025-05-01 2025-07-01       28757524.0    -2.950369e+07
22 2025-03-01 2025-05-01       28757524.0    -2.945974e+07
30 2025-04-01 2025-05-01       28757524.0    -2.647386e+07
40 2025-05-01 2025-08-01       28757524.0    -2.581216e+07
28 2025-03-01 2025-11-01       28757524.0    -2.548611e+07
38 2025-05-01 2025-06-01       28757524.0    -2.542378e+07
41 2025-05-01 2025-09-01       28757524.0    -2.515176e+07
0  2025-01-01 2025-02-01       28757524.0    -2.305729e+07
36 2025-04-01 2025-11-01       28757524.0    -2.250023e+07
42 2025-05-01 2025-10-01       28757524.0    -2.121838e+07
21 2025-03-01 2025-04-01       28757524.0    -1.915233e+07
29 2025-03-01 2025-12-01       28757524.0    -1.881418e+07
45 2025-06-01 2025-07-01       28757524.0    -1.861982e+07
37 2025-04-01 2025-12-01       28757524.0    -1.582830e+07
46 2025-06-01 2025-08-01       28757524.0    -1.492829e+07
56 2025-08-01 2025-09-01       28757524.0    -1.447541e+07
47 2025-06-01 2025-09-01       28757524.0    -1.426789e+07
60 2025-09-01 2025-10-01       28757524.0    -1.159534e+07
43 2025-05-01 2025-11-01       28757524.0    -1.136709e+07
65 2025-11-01 2025-12-01       28757524.0    -1.102747e+07
51 2025-07-01 2025-08-01       28757524.0    -1.071458e+07
57 2025-08-01 2025-10-01       28757524.0    -1.054203e+07
48 2025-06-01 2025-10-01       28757524.0    -1.033451e+07
52 2025-07-01 2025-09-01       28757524.0    -1.005418e+07
63 2025-10-01 2025-11-01       28757524.0    -6.433993e+06
53 2025-07-01 2025-10-01       28757524.0    -6.120800e+06
44 2025-05-01 2025-12-01       28757524.0    -4.695162e+06
61 2025-09-01 2025-11-01       28757524.0    -1.744044e+06
58 2025-08-01 2025-11-01       28757524.0    -6.907351e+05
49 2025-06-01 2025-11-01       28757524.0    -4.832198e+05
64 2025-10-01 2025-12-01       28757524.0     2.379350e+05
54 2025-07-01 2025-11-01       28757524.0     3.730493e+06
62 2025-09-01 2025-12-01       28757524.0     4.927884e+06
59 2025-08-01 2025-12-01       28757524.0     5.981193e+06
50 2025-06-01 2025-12-01       28757524.0     6.188708e+06
55 2025-07-01 2025-12-01       28757524.0     1.040242e+07

In [68]:
best_profit = pairs_df['expected_profit'][55]
one_std_profit = best_profit - std

check = pd.DataFrame([[best_profit, one_std_profit]], columns = ['best_profit', 'one_std_profit'])
check.to_csv('check.tsv', sep='\t')

Submit "check.tsv" in Gradescope.

## Part 6: Acknowledgments

Make a file "acknowledgments.txt" documenting any outside sources or help on this project.
If you discussed this assignment with anyone, please acknowledge them here.
If you used any libraries not mentioned in this module's content, please list them with a brief explanation what you used them for.
If you used any generative AI tools, please add links to your transcripts below, and any other information that you feel is necessary to comply with the generative AI policy.
If no acknowledgments are appropriate, just write none in the file.

Submit "acknowledgments.txt" in Gradescope.

## Part 7: Code

Please submit a Jupyter notebook that can reproduce all your calculations and recreate the previously submitted files.
You do not need to provide code for data collection if you did that by manually.

Submit "project.ipynb" in Gradescope.